img  {
  align:center;
}

header img {
  max-width: 300px;
}

.hero {
  text-align: center;
}
.hero img {
  width: 100%;
}

header {
  text-align: center;
}

section {
  display: flex;
}
section div {
  padding: 12px;
}
